$font-path: "~@cmsgov/design-system-core/fonts";
$image-path: "~@cmsgov/design-system-core/images";

@import "~@cmsgov/design-system-core/src/index";
@import "~@cmsgov/design-system-layout/src/index";


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}